{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}
    {% if g.org_type == "client" %}
        Clients
    {% elif g.org_type == "supplier" %}
        Suppliers
    {% else %}
        ERR
    {% endif %}
    {% endblock %}</h1>


    {% if g.user %}
    <ul class="button-list searchaction">
        {% if g.org_type == "client" %}
            <a v-on:click="helloWorld()"><li class="button">New Client</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Clients..." onkeyup="search()"></input>
                    <button class="iconbutton searchicon" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% elif g.org_type == "supplier" %}
            <a href="{{ url_for('organizations.post_organization', org_type=g.org_type) }}"><li class="action">New Supplier</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Suppliers..." onkeyup="search()"></input>
                    <button class="iconbutton searchicon" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% else %}
            <p>ERR</p>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
{% raw %}
<article class="card-content" v-for="org, i in organizations">
    <header>
        <div>
            <h2>{{ org.organization_name }}</h2>
            <div class="about">
                Initial: {{ org.organization_initial }} | Website: <a target="_blank" rel="noopener noreferrer" v-bind:href="`${org.website_url}`">{{ org.website_url }}</a>
            </div>
        </div>
        <ul class="button-list justify-bottom">
            <a class="edit_button">
                <li>Edit</li>
            </a>
            <a>
                <li class="view_button" v-on:click="org.seen = !org.seen;personel_grid(`${org.organization_id}`);docs_grid(`${org.organization_id}`);">View</li>
            </a>
        </ul>
    </header>

    <div class="view_content" v-show="org.seen" v-bind:id="`org.organization_id`">
        <div class="view_content_box">
            <h3>Recent Orders</h3>
        </div>
        <div class="view_content_box">
            <h3>Additional Info</h3>
        </div>
        <div class="view_content_box">
            <h3>Personel</h3>
            <div v-bind:id="`personel-${org.organization_id}`"></div>
            <ul class="button-list">
                <a class="edit_button">
                    <li>Add Person</li>
                </a>
            </ul>
        </div>
        <div class="view_content_box">
            <h3>Documents</h3>
            <div v-bind:id="`docs-${org.organization_id}`"></div>
        </div>
        <div class="view_content_box">
            <h3>Notes</h3>
            <p>{{ org.notes }}</p>
        </div>
    </div>

    <hr>
</article>

{% endraw %}
{% endblock %}

{% block script %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script>
Vue.createApp({
    data: function () {
        return {
            organizations: [],
        }
    },
    methods: {
        get_organizations: function () {
            fetch(window.location.href + "/json")
            .then(response => {
                response.json()
                .then(data => {
                    data.forEach(function (org) {
                        org["seen"] = false;
                    });
                    console.log("loaded organizations from the server: ", data)
                    this.organizations = data;
                });
            });
        },
        personel_grid: function (org_id) {
            var id = "personel-" + org_id;
            new gridjs.Grid({
                columns: [{
                    id: "person_id",
                    name: "Person_id",
                    hidden: true
                }, {
                    id: "first_name",
                    name: "First Name",
                }, {
                    id: "last_name",
                    name: "Last Name"
                }, {
                    id: "department",
                    name: "Department"
                }, {
                    id: "job_description",
                    name: "Job Description"
                }, {
                    id: "phone_number_primary",
                    name: "Phone Number"
                }, {
                    id: "email_address_primary",
                    name: "Email",
                    formatter: (cell) => gridjs.html(`<a href='mailto:${cell}'>${cell}</a>`)
                }, {
                    id: "actions",
                    name: 'Actions',
                    formatter: (cell, row) => gridjs.html(`<a class="grid-button" href=${window.origin}/people/update/${row.cells[0].data}">Edit</a>`)
                }],
                server: {
                    url: window.origin + '/organizations/' + org_id + '/people',
                    then: data => data.map(person => [
                        person.person_id,
                        person.first_name,
                        person.last_name,
                        person.department,
                        person.job_description,
                        person.phone_number_primary,
                        person.email_address_primary
                    ]),
                    handle: (res) => {
                        // no matching records found
                        if (res.status === 404) return [];
                        if (res.ok) return res.json();
                        throw Error('oh no :(');
                    }
                }
            }).render(document.getElementById(id));
        },
        docs_grid: function (org_id) {
            var id = "docs-" + org_id;
            new gridjs.Grid({
                columns: [{
                    id: "file_name",
                    name: "File Name",
                    formatter: (_, row) => gridjs.html(`<a target="_blank" rel="noopener noreferrer" href="${encodeURI("/uploads/" + row.cells[2].data)}">${row.cells[0].data}</a>`)
                }, {
                    id: "date_uploaded",
                    name: "Date Uploaded"
                }, {
                    id: "local_file_path",
                    name: "Local File Path",
                    hidden: true
                }, {
                    id: "full_file_path",
                    name: "Full File Path",
                    hidden: true
                }, {
                    id: "organizaiton_name",
                    name: "Organization Name",
                    hidden: true
                }],
                server: {
                    url: window.origin + '/organizations/' + org_id + '/files',
                    then: data => data.files.map(file => [file.file_name, file.date_uploaded, file.local_file_path, file.full_file_path, file.organization_name])
                }
            }).render(document.getElementById(id));
        }
    },
    created: function () {
        this.get_organizations()
    }

}).mount("#app");
</script>
{% endblock %}

