{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}
    {% if g.org_type == "client" %}
        Clients
    {% elif g.org_type == "supplier" %}
        Suppliers
    {% else %}
        ERR
    {% endif %}
    {% endblock %}</h1>


    {% if g.user %}
    <ul class="button-list searchaction">
        {% if g.org_type == "client" %}
            <a href="{{ url_for('organizations.post_organization', org_type=g.org_type) }}"><li class="button">New Client</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Clients..." onkeyup="search()"></input>
                    <button class="iconbutton searchicon" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% elif g.org_type == "supplier" %}
            <a href="{{ url_for('organizations.post_organization', org_type=g.org_type) }}"><li class="action">New Supplier</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Suppliers..." onkeyup="search()"></input>
                    <button class="iconbutton searchicon" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% else %}
            <p>ERR</p>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
{% for organization_data in organizations %}
<article class="card-content" id="{{ organization_data['organization_id'] }}" name="{{ organization_data['organization_name'] }}">
    <header>
        <div>
            <h2>{{ organization_data['organization_name'] }}</h2>
            <div class="about">
                Initial: {{ organization_data['organization_initial'] }} | Website: <a target="_blank" rel="noopener noreferrer" href="{{ organization_data['website'] }}">{{ organization_data['website'] }}</a>
            </div>
        </div>
        <ul class="button-list justify-bottom">
            <a class="edit_button" id="{{ organization_data['organization_id'] }}"
                href="{{ url_for('organizations.put_organization', org_id=organization_data['organization_id']) }}">
                <li>Edit</li>
            </a>
            <a>
                <li class="view_button" id="{{ organization_data['organization_id'] }}" onclick="personel_grid(this.id);docs_grid(this.id);viewContent(this.id)">View</li>
            </a>
        </ul>
    </header>

    <div class="view_content" id="{{ organization_data['organization_id'] }}" style="display:none;">
        <div class="view_content_box">
            <h3>Address</h3>
            <!-- <p>{{ organization_data['hq_street_address'] }}<br>
            Unit/Apt:{{ organization_data['hq_unit_apt'] }}<br>
            {{ organization_data['hq_city'] }}, {{ organization_data['hq_region'] }}<br>
            {{ organization_data['hq_country'] }}<br>
            {{ organization_data['hq_zip_code'] }}</p> -->
        </div>
        <div class="view_content_box">
            <h3>Additional Info</h3>
            <!-- {% if organization_data['vetted'] %}
                <p>Vetted Status: TRUE</p>
                <p>Date Vetted: {{ organization_data['date_vetted'] }}</p>
            {% endif %}
            <p>Average Shipping Time: {{ organization_data['ship_time'] }} {{ organization_data['ship_time_unit'] }}</p>
            <p>Date of Entry: {{ organization_data['date_entered'].strftime('%Y-%m-%d') }}</p> -->
        </div>
        <div class="view_content_box">
            <h3>Notes</h3>
            <p>{{ organization_data['notes'] }}</p>
        </div>
        <div class="view_content_box">
            <h3>Personel</h3>
            <div id="personel-{{ organization_data['organization_id']}}"></div>
            <ul class="button-list">
                <a class="edit_button" id="{{ organization_data['organization_id'] }}"
                    href="{{ url_for('organizations.put_organization', org_id=organization_data['organization_id']) }}">
                    <li>Add Person</li>
                </a>
            </ul>
        </div>
        <div class="view_content_box">
            <h3>Documents</h3>
            <div id="docs-{{ organization_data['organization_id']}}"></div>
        </div>
    </div>
    <hr>
</article>

{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}

{% block script %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
    function personel_grid(org_id) {
        var id = "personel-" + org_id;
        new gridjs.Grid({
            columns: [{
                id: "person_id",
                name: "Person_id",
                hidden: true
            }, {
                id: "first_name",
                name: "First Name",
            }, {
                id: "last_name",
                name: "Last Name"
            }, {
                id: "job_title",
                name: "Title"
            }, {
                id: "phone_number",
                name: "Phone Number"
            }, {
                id: "email_address",
                name: "Email",
                formatter: (cell) => gridjs.html(`<a href='mailto:${cell}'>${cell}</a>`)
            }, {
                id: "actions",
                name: 'Actions',
                formatter: (cell, row) => gridjs.html(`<a class="grid-button" href=${window.origin}/people/update/${row.cells[0].data}">Edit</a>`)
            }],
            server: {
                url: window.origin + '/organizations/' + org_id + '/people',
                then: data => data.map(person => [
                    person.person_id,
                    person.first_name,
                    person.last_name,
                    person.phone_number,
                    person.job_title,
                    person.email_address
                ]),
                handle: (res) => {
                    // no matching records found
                    if (res.status === 404) return [];
                    if (res.ok) return res.json();
                    throw Error('oh no :(');
                }
            }
        }).render(document.getElementById(id));
    };

    function docs_grid(org_id) {
        var id = "docs-" + org_id;
        new gridjs.Grid({
            columns: [{
                id: "file_name",
                name: "File Name",
                formatter: (_, row) => gridjs.html(`<a target="_blank" rel="noopener noreferrer" href="${encodeURI("/uploads/" + row.cells[2].data)}">${row.cells[0].data}</a>`)
            }, {
                id: "date_uploaded",
                name: "Date Uploaded"
            }, {
                id: "local_file_path",
                name: "Local File Path",
                hidden: true
            }, {
                id: "full_file_path",
                name: "Full File Path",
                hidden: true
            }, {
                id: "organizaiton_name",
                name: "Organization Name",
                hidden: true
            }],
            server: {
                url: window.origin + '/organizations/' + org_id + '/files',
                then: data => data.files.map(file => [file.file_name, file.date_uploaded, file.local_file_path, file.full_file_path, file.organization_name])
            }
        }).render(document.getElementById(id));
    };
</script>
{% endblock %}
