{% extends 'base.html' %}

{% block header %}
<h1>Edit Organization</h1>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-item">
        <p>What rolls will this organization hold?</p>
        <fieldset class="checkbox-container">
            <div class="checkbox-item">
                <input type="checkbox" id="client" name="client" class="onerequired" {% if organization_data['client']==1 %}checked{%
                    endif %} value="1">
                <label for="client">Client</label>
            </div>
            <div class="checkbox-item">
                <input type="checkbox" id="supplier" name="supplier" class="onerequired" {% if organization_data['supplier']==1
                    %}checked{% endif %} value="1">
                <label for="supplier">Supplier</label>
            </div>
        </fieldset>
    </div>

    <div class="form-section">
        <div class="form-item">
            <label for="organization_name">*Company Name</label>
            <input name="organization_name" id="organization_name" value="{{ organization_data['organization_name'] }}"
                required>
        </div>
    
        <div class="form-item">
            <label for="organization_initial">*Company Initials</label>
            <input name="organization_initial" id="organization_initial" maxlength="10"
                value="{{ organization_data['organization_initial'] }}" required>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Website & Mailing Info</h1>
        </header>
    
        <div class="form-item">
            <label for="website">Company Website Homepage</label>
            <input name="website" id="website" type="url" value="{{ organization_data['Organization_Website'] }}">
        </div>
    
        <div class="form-item">
            <label for="hq_street_address">Street Address</label>
            <input name="hq_street_address" value="{{ organization_data['hq_street_address'] }}" id="hq_street_address">
        </div>
    
        <div class="form-item">
            <label for="hq_unit_apt">Apartment/Suite Number</label>
            <input name="hq_unit_apt" value="{{ organization_data['hq_unit_apt'] }}" id="hq_unit_apt">
        </div>
    
        <div class="form-item">
            <label for="hq_city">City</label>
            <input name="hq_city" id="hq_city" value="{{ organization_data['hq_city'] }}">
        </div>
    
        <div class="form-item">
            <label for="hq_region">State, Province, or Region</label>
            <input name="hq_region" id="hq_region" value="{{ organization_data['hq_region'] }}">
        </div>
    
        <div class="form-item">
            <label for="hq_country">Country</label>
            <input name="hq_country" id="hq_country" value="{{ organization_data['hq_country'] }}">
        </div>
    
        <div class="form-item">
            <label for="hq_zip_code">Mailing or Zip Code</label>
            <input name="hq_zip_code" id="hq_zip_code" value="{{ organization_data['hq_zip_code'] }}">
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Additional Info</h1>
        </header>

        <div class="form-item">
            <label for="ship_time">Average Shipment Time</label>
            <input type="number" name="ship_time" id="ship_time" value="{{ organization_data['ship_time'] }}">
        </div>
        
        <div class="form-item">
            <p></p>
            <fieldset class="radio-container">
                <div class="radio-item">
                    <input type="radio" id="Day/s" name="ship_time_unit" value="Day/s" {% if organization_data['ship_time_unit']=="Day/s"
                        %}checked{% endif %}>
                    <label for="Day/s">Day/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Week/s" name="ship_time_unit" value="Week/s" {% if organization_data['ship_time_unit']=="Week/s"
                        %}checked{% endif %}>
                    <label for="Week/s">Week/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Month/s" name="ship_time_unit" value="Month/s" {% if organization_data['ship_time_unit']=="Month/s"
                        %}checked{% endif %}>
                    <label for="Month/s">Month/s</label>
                </div>
            </fieldset>
        </div>

        <!-- BEGIN BLOCK for suppliers only -->

        <div class="form-item">
            <p>Risk Level</p>
            <fieldset class="radio-container">
                <div class="radio-item">
                    <input type="radio" id="No Risk" name="risk_level" value="UNKNOWN" {% if organization_data['risk_level']=="UNKNOWN" %}checked{% endif %}>
                    <label for="No Risk">Unknown Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="No Risk" name="risk_level" value="No Risk" {% if organization_data['risk_level']=="No Risk" %}checked{% endif %}>
                    <label for="No Risk">No Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Low Risk" name="risk_level" value="Low Risk" {% if
                        organization_data['risk_level']=="Low Risk" %}checked{% endif %}>
                    <label for="Low Risk">Low Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Medium Risk" name="risk_level" value="Medium Risk" {% if
                        organization_data['risk_level']=="Medium Risk" %}checked{% endif %}>
                    <label for="Medium Risk">Medium Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="High Risk" name="risk_level" value="High Risk" {% if
                        organization_data['risk_level']=="High Risk" %}checked{% endif %}>
                    <label for="High Risk">High Risk</label>
                </div>
            </fieldset>
        </div>

        <div class="form-item">
            <label for="date_vetted">Date Last Vetted</label>
            <input type="date" name="date_vetted" id="date_vetted" value="{{ organization_data['date_vetted'] }}">
            <p></p>
        </div>

        <!-- END BLOCK -->

        <div class="form-item">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes">{{ organization_data['notes'] }}</textarea>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Uploaded Files</h1>
        </header>
    
        <div>

            <div id="container">
                {% set count = namespace(value=0) %}
                {% for doc in organization_data['documents'] %}
                <div class="list-item" id="{{ count.value }}_preupload">
                    <div class="list-left">
                            <a target="_blank" rel="noopener noreferrer" href="{{ url_for('uploads', file_location=doc['local_file_path']) }}">{{ doc['file_name'] }}</a>
                    </div>
                    <div class="list-right">
                        <button type="button" name="removeFile" class="iconbutton" onclick="removeFileInput({{ count.value }});">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
                {% set count.value = count.value + 1 %}
                {% endfor %}
    
            </div>
    
            <div class="list-item">
                <div class="list-right"></div>
                <div class="list-left">
                    <button name="addFile" type="button" class="iconbutton" onclick="addFileInput()" value="Add File">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    
</form>

<div class="form-section">
    <div class="button-list">
        <input class="button" type="submit" value="Save">
    </div>
</div>

<div class="list-item" id="template" style="display: none;">
    <div class="list-left">
        <div class="file-upload" multiple name="uploads">
            <input type="file">
        </div>
    </div>
    <div class="list-right">
        <button type="button" name="removeFile" class="iconbutton" onclick="removeFileInput(this.id);">
            <i class="fa fa-minus"></i>
        </button>
    </div>
</div>


{% endblock %}