{% extends 'base.html' %}

{% block header %}
<h1>Create a New Client</h1>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-section">

        <div class="form-item">
            <label for="Organization_Name">*Company Name</label>
            <input name="Organization_Name" id="Organization_Name" required>
        </div>

        <div class="form-item">
            <label for="Organization_Initial">*Company Initials</label>
            <input name="Organization_Initial" id="Organization_Initial" maxlength="10" required>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Website & Mailing Info</h2>
        </header>

        <div class="form-item">
            <label for="Website">Company Website Homepage</label>
            <input name="Website" id="Website" type="url">
        </div>
        
        <div class="form-item">
            <label for="HQ_Street_Address">Street Address</label>
            <input name="HQ_Street_Address" id="HQ_Street_Address">
        </div>
        
        <div class="form-item">
            <label for="HQ_Unit_Apt">Apartment/Suite Number</label>
            <input name="HQ_Unit_Apt" id="HQ_Unit_Apt">
        </div>
        
        <div class="form-item">
            <label for="HQ_City">City</label>
            <input name="HQ_City" id="HQ_City">
        </div>
        
        <div class="form-item">
            <label for="HQ_Region">State, Province, or Region</label>
            <input name="HQ_Region" id="HQ_Region">
        </div>
        
        <div class="form-item">
            <label for="HQ_Country">Country</label>
            <input name="HQ_Country" id="HQ_Country">
        </div>
        
        <div class="form-item"> 
            <label for="HQ_Zip_Code">Mailing or Zip Code</label>
            <input name="HQ_Zip_Code" id="HQ_Zip_Code">
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Additional Info</h2>
        </header>

        <div class="form-item">
            <label for="Ship_Time">Average Shipment Time</label>
            <input type="number" name="Ship_Time" id="Ship_Time">
        </div>
        
        <div class="form-item">
            <fieldset class="radio-container">
                <div class="radio-item">
                    <input type="radio" id="Day/s" name="Ship_Time_Unit" value="Day/s">
                    <label for="Day/s">Day/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Week/s" name="Ship_Time_Unit" value="Week/s">
                    <label for="Week/s">Week/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Month/s" name="Ship_Time_Unit" value="Month/s">
                    <label for="Month/s">Month/s</label>
                </div>
            </fieldset>
        </div>

        <div class="form-item">
            <label for="Notes">Notes</label>
            <textarea name="Notes" id="Notes"></textarea>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Upload Files</h2>
        </header>
    
        <div>
            <div id="container">
    
            </div>
    
            <div class="list-item">
                <div class="list-right"></div>
                <div class="list-left">
                    <button name="addFile" type="button" class="iconbutton" onclick="addFileInput()" value="Add File">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <input class="button" type="submit" value="Save">
    </div>

</form>
    
<div id="template" style="display: none;">
    <div class="list-item">
        <div class="list-left">
            <div class="file-upload" multiple name="uploads">
                <input type="file" name="file-upload">
            </div>
        </div>
        <div class="list-right">
            <button type="button" name="removeFile" class="iconbutton" onclick="removeFileInput(this.id);">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}