{% extends 'base.html' %}

{% block header %}
<h1>Create a New Client</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-section">

        <div class="form-item">
            <label for="Organization_Name">*Company Name</label>
            <input name="Organization_Name" id="Organization_Name" required>
        </div>

        <div class="form-item">
            <label for="Organization_Initial">*Company Initials</label>
            <input name="Organization_Initial" id="Organization_Initial" maxlength="10" required>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Website & Mailing Info</h1>
        </header>

        <div class="form-item">
            <label for="Website">Company Website Homepage</label>
            <input name="Website" id="Website" type="url">
        </div>
        
        <div class="form-item">
            <label for="HQ_Street_Address">Street Address</label>
            <input name="HQ_Street_Address" id="HQ_Street_Address">
        </div>
        
        <div class="form-item">
            <label for="HQ_Unit_Apt">Apartment/Suite Number</label>
            <input name="HQ_Unit_Apt" id="HQ_Unit_Apt">
        </div>
        
        <div class="form-item">
            <label for="HQ_City">City</label>
            <input name="HQ_City" id="HQ_City">
        </div>
        
        <div class="form-item">
            <label for="HQ_Region">State, Province, or Region</label>
            <input name="HQ_Region" id="HQ_Region">
        </div>
        
        <div class="form-item">
            <label for="HQ_Country">Country</label>
            <input name="HQ_Country" id="HQ_Country">
        </div>
        
        <div class="form-item"> 
            <label for="HQ_Zip_Code">Mailing or Zip Code</label>
            <input name="HQ_Zip_Code" id="HQ_Zip_Code">
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Additional Info</h1>
        </header>

        <div class="form-item">
            <label for="Ship_Time">Average Shipment Time</label>
            <input type="number" name="Ship_Time" id="Ship_Time">
        </div>
        
        <div class="form-item">
            <p></p>
            <div>
                <input type="radio" id="Day/s" name="Ship_Time_Unit" value="Day/s">
                <label for="Day/s">Day/s</label><br>
                <input type="radio" id="Week/s" name="Ship_Time_Unit" value="Week/s">
                <label for="Week/s">Week/s</label><br>
                <input type="radio" id="Month/s" name="Ship_Time_Unit" value="Month/s">
                <label for="Month/s">Month/s</label>
            </div>
        </div>

        <div class="form-item">
            <label for="Notes">Notes</label>
        </div>
        <textarea name="Notes" id="Notes"></textarea>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h1>Upload Files</h1>
        </header>

        <div>
            <hr>
            <div id="container">
                
            </div>

            <div class="list-item">
                <div class="list-right"></div>
                <div class="list-left">
                    <input name="addFile" type="button" class="inline_button" onclick="addFileInput()" value="Add File">
                </div>
            </div>
        </div>
    
</form>

<div class="form-section">
    <input name="saveButton" class="inline_button" type="submit" value="Save">
</div>

<div class="list-item" id="template" style="display: none;">
    <div class="list-left">
        <div class="file-upload">
            <input type="file">
        </div>
    </div>
    <div class="list-right">
        <button type="button"  name="removeFile" onclick="removeFileInput(this.id);">Remove File</button>
    </div>
</div>

<script>
    var idnum = 0;

    function addFileInput() {
            var template = document.getElementById("template");
            var clone = template.cloneNode(true);
            var parent = document.getElementById("container");
            var button = clone.querySelector("button");
            var input = clone.querySelector("input");

            button.id = idnum;
            input.id = idnum;
            clone.removeAttribute("id");
            clone.id = idnum;
            clone.removeAttribute("style");
            parent.appendChild(clone);

            var hr = document.createElement("hr")
            parent.appendChild(hr);
            idnum += 1;
        }

    function removeFileInput(id) {
        var child = document.getElementById(id);
        var parent = child.parentElement;
        var hr = parent.querySelector("hr");
        parent.removeChild(hr);
        child.remove();
        }
    
</script>

{% endblock %}