{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}
    {% if g.org_type == "client" %}
        Clients
    {% elif g.org_type == "supplier" %}
        Suppliers
    {% else %}
        ERR
    {% endif %}
    {% endblock %}</h1>


    {% if g.user %}
    <ul class="button-list searchaction">
        {% if g.org_type == "client" %}
            <a href="{{ url_for('organizations.post_organization', org_type=g.org_type) }}"><li class="searchaction">New Client</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Clients..." onkeyup="search()"></input>
                    <button class="iconbutton" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% elif g.org_type == "supplier" %}
            <a href="{{ url_for('organizations.post_organization', org_type=g.org_type) }}"><li class="action">New Supplier</li></a>
            <li class="searchbar">
                <div>
                    <input name="search" id="searchbar" type="text" placeholder="Search Suppliers..." onkeyup="search()"></input>
                    <button class="iconbutton" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </li>
        {% else %}
            <p>ERR</p>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
{% for organization_data in organizations %}
<article class="card-content" id="{{ organization_data['organization_id'] }}" name="{{ organization_data['organization_name'] }}">
    <header>
        <div>
            <h2>{{ organization_data['organization_name'] }}</h2>
            <div class="about">
                Initial: {{ organization_data['organization_initial'] }} | Website: {{ organization_data['website'] }}
            </div>
        </div>
        <ul class="button-list justify-bottom">
            <a class="edit_button" id="{{ organization_data['organization_id'] }}"
                href="{{ url_for('organizations.put_organization', org_id=organization_data['organization_id']) }}">
                <li>Edit</li>
            </a>
            <a>
                <li class="view_button" id="{{ organization_data['organization_id'] }}" onclick="viewContent(this.id)">View</li>
            </a>
        </ul>
    </header>

    <div class="view_content" id="{{ organization_data['organization_id'] }}" style="display:none;">
        <div class="view_content_box">
            <h3>Address</h3>
        </div>
        <div class="view_content_box">
            <h3>Personel</h3>
        </div>
        <div class="view_content_box">
            <h3>Additional Info</h3>
        </div>
        <div class="view_content_box">
            <h3>Documents</h3>
            <div id="docs-{{ organization_data['organization_id']}}"></div>
            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
            <script>
                console.log({{ organization_data["files"]| tojson | safe }});
                function create_grid(org_id) {
                    var id = "docs-"+org_id;
                    new gridjs.Grid({
                        columns: [{
                            id: "file_name", 
                            name: "File Name"
                            formatter: (_, row) => html(`<a href='organizations/{{organization_data["organization_name"]''`) 
                            // TODO: Trying to get the table to link to the document
                        }, {
                            id: "date_uploaded", 
                            name: "Date Uploaded"
                        }],
                        data: {{ organization_data["files"]|tojson|safe }}
                    }).render(document.getElementById(id));
                };
                create_grid({{ organization_data["organization_id"]}})
            </script>
        </div>
    </div>
    <hr>
</article>

{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}
