

.popup {
    background-color: var(--card-background-color);
    border: none;
    cursor: pointer;
}

.popup:hover,
.popup:focus {
    background-color: var(--popup-card-background-color);
}

.popup {
    justify-content: right;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: auto;
    border-radius: 100%;
}

.popup-content {
    display: none;
    position: absolute;
    background-color: var(--popup-card-background-color);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.popup-content a,
.popup-content p {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.account-icon {
    padding: 5px;
    max-width: 100%;
    margin-bottom: 0;
    width: 50px;
}

@media only screen and (max-width: 1200px) {

    .account-icon {
        max-width: 35px;
        height: auto;
        padding-top: 5px;
        margin-bottom: 0px;
    }
}
