:root {
    /* Main Colors */
    --main-background-color: #a1aa74;

    /* Font Colors */
    --h1-color: #775635;
    --text-color: #000000;
    --subtitle-color: slategray;
    --secondary-text-color: ;

    /* Font Sizes */
    --h1-font-size: 1.80em;
    --h2-font-size: 1.40em;
    --h3-font-size: 1.20em;
    --small-font-size: 12px;

    /* Font Weights */
    --small-font-weight: normal;

    /* Card Colors */
    --card-background-color: #ffffff;
    --card-border-color: ;
    --popup-card-background-color: #f1f1f1;
    --hover-popup-card-background-color: #dddddd;

    /* input Colors */
    --input-background: ;
    --input-border-color: lightgray;
    --input-color: ;
    --input-hover-background-color: #dddddd;

    /* Boarder and Line Colors */
    --line-color: lightgray;

    /* Search Bar Colors */
    --search-bar-background-color: #eeeeee;
    --hover-search-bar-background-color: #dddddd;

    /* Flash Colors */
    --flash-color: #a1aa74;
    --flash-background-color: #cae6f6;
    --flash-border-color: #377ba8;
    --flash-warning-color: #cc2f2e;

}