.view_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    contain: content;
    align-items: stretch;
}

.view_content_box {
    margin: 1em;
    padding: 0;
    width: auto;
}

.half {
    width: 45%
}

.three_quarter {
    width: 68%
}

.one_quarter {
    width: 22%
}

.view_content_box p {
    margin-left: 1.5em;
    margin-right: 2.5em;
}

@media only screen and (max-width: 750px) {
    .view_content {
        display: flex;
        align-items:stretch !important;
    }

    .view_content_box {
        margin: 0.5em;
        padding: 0.1em;
        height: auto;
        width: auto;
    }
}