
nav {
    background-color: var(--card-background-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: fit-content;
}

nav div {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--card-background-color);
    width:100%;

}

nav ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-top: 3px;
    color: var(--text-color);
    display: flex;
    text-decoration: none;
    transition-duration: .2s;
}

nav ul li:hover {
    background-color: var(--input-hover-background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a {
    text-decoration: none;
}


@media only screen and (max-width: 1200px) {
    
    nav {
        justify-content: space-evenly;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        min-width:fit-content;
    }

    nav ul a li {
        text-align: center;
        padding: 4px 8px;
        width: 100%;
        justify-content: space-evenly;
    }

}
