html {
    font-family: sans-serif;
    background: #a1aa74;
}

body {
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
    justify-content: center;
}

.dropbtn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #DDDDDD;
}

.dropdown {
    justify-content: right;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a,
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#logo {
    width: 290px;
}

.smallicon {
    padding: 5px;
    max-width: 100%;
    margin-bottom: 0;
    width: 50px;
}

h1 {
    font-family: serif;
    color: #775635;
    margin: 1rem 0;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

.grid-item-header {
    grid-area: header;
    max-height: fit-content;
    top: 0;
    z-index: 1;
}

.grid-item-content {
    grid-area: content;
}

.grid-item-tree {
    grid-area: tree;
}

.grid-item-footer {
    grid-area: footer;
}

.grid-container {
    width: max-content;
    min-width: 75%;
    display: grid;
    gap: 1rem;
    background-color: #a1aa74;
    grid-template-columns: minmax(auto, 200px) auto;
    grid-template-areas:
        'header header'
        'tree content'
        'footer footer'
    ;
}

nav {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: fit-content;
}

.headerbar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

nav div {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-top: 3px;
    width: 140px;
    color: #775635;
    display: block;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li a {
    text-decoration: none;
}

.inline_button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0.2rem;
}

.inline_button li {
    list-style: none;
    width: fit-content;
    margin-right: 2rem;
    text-align: center;
    border-radius: 0.1rem;
}

.inline_button li,
button,
input,
.form-item textarea,
button {
    color: black;
    background-color: white;
    font-size: medium;
    padding: 0.3rem 0.6rem 0.3rem;
    cursor: pointer;
    display: inline;
    border-radius: 0.1rem;
    border-color: black;
    border-width: 1px;
}

.inline_button li:hover,
input:hover, 
nav ul li:hover, 
button:hover,
textarea:hover,
button:hover {
    background-color: #DDDDDD;
}

input[type="submit" i] {
    display:inline;
    text-align: center;
    box-sizing: border-box;
    min-width: 8rem;
    max-width: 10rem;
    align-self:center;
}

fieldset {
    border: 0px;
}


button, input[type="button"] {
    display: inline;
    text-align: center;
    box-sizing: border-box;
    min-width: 8rem !important;
}

input[type="radio" i] {
    min-width: 1rem;
    box-sizing: border-box;
    margin: 3px 3px 0px 12px;
}

.list-item {
    display: flex;
    justify-content:space-between;
}

.card {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    justify-content: fit-content;
}

.card>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.card>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.form-section {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    font-size: larger;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 0.2rem;
}

.form-item *, textarea {
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 0.5em;
    min-width: 15rem;
    margin-left: 5rem;
}

textarea {
    max-width: 36rem;
}

input.danger {
    color: #cc2f2e;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.card-content>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.card-content>header>div:first-of-type {
    flex: auto;
}

.card-content>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.card-content .about {
    color: slategray;
    font-style: italic;
}

.card-content .body {
    white-space: pre-line;
}

.card-content:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width: 1200px) {
    .grid-container {
        display: grid;
        gap: 0.5rem;
        background-color: #a1aa74;
        margin-right: 1rem;
        grid-template-columns: 100%;
        grid-template-areas:
            'header'
            'tree'
            'content'
            'footer'
        ;
    }
    .card {
        padding: 1rem;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.45);
    }
    .smallicon {
        max-width: 35px;
        height: auto;
        padding-top: 5px;
        margin-bottom: 0px;
    }
    .form-item *, textarea {
        font-family: sans-serif;
        font-weight: normal;
        margin-bottom: 0.5em;
        margin-left: 3rem;
    }
    textarea {
        max-width: 34rem;
    }
}

@media only screen and (max-width: 750px) {
    body {
        margin: 0rem;
        align-content: center;
    }

    .grid-container {
        margin-right: 0rem;
    }
    textarea {
        width: 16rem;
    }
}