html {
    font-family: sans-serif;
    background: #a1aa74;
}

body {
    margin: 0rem 2rem 0rem 2rem;
    align-content: center;
}

.dropbtn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #DDDDDD;
}

.dropdown {
    justify-content: right;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a,
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#logo {
    width: 290px;
}

.smallicon {
    padding: 5px;
    max-width: 100%;
    margin-bottom: 0;
    width: 50px;
}

h1 {
    font-family: serif;
    color: #775635;
    margin: 1rem 0;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

.grid-item-header {
    grid-area: header;
    max-height: fit-content;
    top: 0;
    z-index: 1;
}

.grid-item-content {
    grid-area: content;
}

.grid-item-tree {
    grid-area: tree;
}

.grid-item-footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    gap: 1rem;
    background-color: #a1aa74;
    grid-template-columns: minmax(auto, 200px) auto;
    grid-template-areas:
        'header header'
        'tree content'
        'footer footer'
    ;
}

nav {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: fit-content;
}

.headerbar {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

nav div {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav ul li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-top: 3px;
    width: 140px;
    color: #775635;
    display: block;
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #DDDDDD;
}

nav ul li a {
    text-decoration: none;
}

.item_opitions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.item_opitions li {
    list-style: none;
    width: 5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 2rem;
    text-align: center;
    border-radius: 0.2rem;
}

.item_opitions li:hover {
    background-color: #DDDDDD;
}

.card {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    justify-content: fit-content;
}

.card>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.card>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.card:last-child {
    margin-bottom: 0;
}

.card form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.card label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.card input,
.card textarea {
    margin-bottom: 1em;
}

.card textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

@media only screen and (max-width: 1200px) {
    .grid-container {
        display: grid;
        gap: 0.5rem;
        background-color: #a1aa74;
        margin-right: 0.5rem;
        grid-template-columns: 100%;
        grid-template-areas:
            'header'
            'tree'
            'content'
            'footer'
        ;
    }
    .card {
        padding: 1rem;
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.45);
    }
    .smallicon {
        max-width: 35px;
        height: auto;
        padding-top: 5px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 750px) {
    body {
        margin: 0rem;
        align-content: center;
    }

    .grid-container {
        margin-right: 0rem;
    }
}