{% extends 'base.html' %}

{% block header %}
<h1>New Organization</h1>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="form-item">
        <p>What rolls will this organization hold?</p>
        <fieldset class="checkbox-container">
            <div class="checkbox-item">
                <input type="checkbox" id="client" name="client" class="onerequired" {% if g.org_type == "client" %}checked{% endif %} value="1">
                <label for="client">Client</label>
            </div>
            <div class="checkbox-item">
                <input type="checkbox" id="supplier" name="supplier" class="onerequired" {% if g.org_type == "supplier" %}checked{% endif %} value="1">
                <label for="supplier">Supplier</label>
            </div>
        </fieldset>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Organization Name/s</h2>
        </header>

        <div class="form-item">
            <label for="organization_name">*Primary Organization Name</label>
            <input name="organization_name" id="organization_name" required>
        </div>

        <div class="form-item">
            <label for="organization_initial">*Primary Organization Initials</label>
            <input name="organization_initial" id="organization_initial" maxlength="10" required>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Website & Mailing Info</h2>
        </header>

        <div class="form-item">
            <label for="website">Company Website Homepage</label>
            <input name="website" id="website" type="url">
        </div>
        
        <div class="form-item">
            <label for="hq_street_address">Street Address</label>
            <input name="hq_street_address" id="hq_street_address">
        </div>
        
        <div class="form-item">
            <label for="hq_unit_apt">Apartment/Suite Number</label>
            <input name="hq_unit_apt" id="hq_unit_apt">
        </div>
        
        <div class="form-item">
            <label for="hq_city">City</label>
            <input name="hq_city" id="hq_city">
        </div>
        
        <div class="form-item">
            <label for="hq_region">State, Province, or Region</label>
            <input name="hq_region" id="hq_region">
        </div>
        
        <div class="form-item">
            <label for="hq_country">Country</label>
            <input name="hq_country" id="hq_country">
        </div>
        
        <div class="form-item"> 
            <label for="hq_zip_code">Mailing or Zip Code</label>
            <input name="hq_zip_code" id="hq_zip_code">
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Additional Info</h2>
        </header>
    
        <div class="form-item">
            <label for="ship_time">Average Shipment Time</label>
            <input type="number" name="ship_time" id="ship_time" value="0">
        </div>
    
        <div class="form-item">
            <p></p>
            <fieldset class="radio-container">
                <div class="radio-item">
                    <input type="radio" id="Unknown" name="ship_time_unit" value="1" checked>
                    <label for="Unknown">Unknown</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Day/s" name="ship_time_unit" value="2">
                    <label for="Day/s">Day/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Week/s" name="ship_time_unit" value="3">
                    <label for="Week/s">Week/s</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Month/s" name="ship_time_unit" value="4">
                    <label for="Month/s">Month/s</label>
                </div>
            </fieldset>
        </div>
    
        <!-- BEGIN BLOCK For suppliers only -->

        <div class="form-item">
            <p>For more details on risk assesment, please see this link.</p>
            <fieldset class="radio-container">
                <div class="radio-item">
                    <input type="radio" id="UNKNOWN" name="risk_level" value="1" checked>
                    <label for="UNKNOWN">Unknown Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="No Risk" name="risk_level" value="2">
                    <label for="No Risk">No Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Low Risk" name="risk_level" value="3">
                    <label for="Low Risk">Low Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="Medium Risk" name="risk_level" value="4">
                    <label for="Medium Risk">Medium Risk</label>
                </div>
                <div class="radio-item">
                    <input type="radio" id="High Risk" name="risk_level" value="5">
                    <label for="High Risk">High Risk</label>
                </div>
            </fieldset>
        </div>
    
        <div class="form-item">
            <label for="date_vetted">Date Last Vetted</label>
            <input type="date" name="date_vetted" id="date_vetted">
        </div>

        <!-- END BLOCK -->

        <div class="form-item">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes"></textarea>
        </div>
    </div>

    <div class="form-section">
        <header class="card-content">
            <h2>Upload Files</h2>
        </header>
    
        <div>
            <div id="container">
    
            </div>
    
            <div class="list-item">
                <div class="list-right"></div>
                <div class="list-left">
                    <button name="addFile" type="button" class="iconbutton" onclick="addFileInput()" value="Add File">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-section">
        <input class="button" type="submit" value="Save">
    </div>

</form>
    
<div id="template" style="display: none;">
    <div class="list-item">
        <div class="list-left">
            <div class="file-upload" multiple name="uploads">
                <input type="file" name="file-upload">
            </div>
        </div>
        <div class="list-right">
            <button type="button" name="removeFile" class="iconbutton" onclick="removeFileInput(this.id);">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function valthis() {
        var checkBoxes = document.getElementsByClassName('onerequired');
        var isChecked = false;
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                isChecked = true;
            };
        };
        if (isChecked) {
            alert('At least one checkbox checked!');
        } else {
            alert('Please, check at least one checkbox!');
        }
    }
</script>

{% endblock %}