
.card {
    padding: 2rem;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    justify-content: fit-content;
}

.card>header {
    border-bottom: 1px solid var(--line-color);
    display: flex;
    align-items: flex-end;
}

.card>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.card-content>header {
    display: flex;
}

.card-content>header>div>.view_content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-content>header>div>.view_content>.view_content_box {
    padding: 1rem;
    min-width: 40%;
    max-width:fit-content;
    height: auto;
}

.card-content>header>div>.view_content>.view_content_box * {
    box-sizing: border-box;
}

.card-content>header>div:first-of-type {
    flex: auto;
}

.card-content>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.card-content .about {
    color: var(--text-color);
    font-style: italic;
}

.card-content .body {
    white-space: pre-line;
}

.card-content:last-child {
    margin-bottom: 0;
}


@media only screen and (max-width: 1200px) {

    .card {
        padding: 1rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.45);
    }
}

@media only screen and (max-width: 750px) {
    .card>header {
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }
}