* {
    cursor: default;
}

a {
    cursor: pointer;
}

input[type="submit" i],
input[type="button"] {
    display: inline;
    text-align: center;
    box-sizing: border-box;
    min-width: 8rem;
    max-width: 10rem;
    align-self: center;
}

.button-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-list li {
    list-style: none;
    height: 18px;
    padding: 0.5em 1.5em;
    text-decoration:none;
    margin: 0.5em;
    text-align: center;
    border-radius: 0.1rem;
    background-color: var(--card-background-color);
    vertical-align:middle;
}

.justify-bottom {
    align-items: flex-end;
}

input,
textarea {
    color: black;
    background-color: var(--card-background-color);
    font-size: medium;
    padding: 0.3rem 0.6rem 0.3rem;
    cursor: pointer;
    display: inline;
    border-radius: 0.1rem;
    border-color: black;
    border-width: 1px;
    transition-duration: .2s;
}

input[type="radio" i] {
    min-width: 1rem;
    box-sizing: border-box;
    margin: 3px 3px 0px 12px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    background-color: #e9e9e9;
}

input[type=checkbox]:checked {
    border: solid white;
    border-width: 0 2px 2px 0;
}

fieldset {
    border: 0px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--line-color);
    padding-block-start: 0.5em;
    padding-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.form-section {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1em;
    contain: content;
}

.form-item input,
.form-item textarea {
    min-width: 40%;
    margin-bottom: 0.5em;
}

.form-item label,
.form-item p {
    width: 40%;
    margin-bottom: 0.2em;
}

input:hover,
.form-item textarea:hover,
.button-list li:hover,
.searchbar:hover {
    background-color: var(--input-hover-background-color);
    cursor: pointer;
}

.radio-container, 
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-left: 0;
    padding-left: 0;
}

.radio-item, 
.checkbox-item {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.radio-item input,
.checkbox-item input {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

.radio-item label,
.checkbox-item label {
    width: fit-content;
    margin: 0;
    margin-left: 0.4em;
}

input.danger {
    color: var(--flash-warning-color);
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: var(--flash-background-color);
    border: 1px solid var(--flash-border-color);
}


@media only screen and (max-width: 1200px) {

    .form-item {
        flex-direction: column;
    }

    .form-item input,
    .form-item textarea {
        min-width: 40%;
        margin-bottom: 0.5em;
    }

    .form-item label,
    .form-item p {
        width: 90%;
        margin: 0.2em;
    }

    .radio-container,
    .checkbox-container {
        display:block;
    }

    .radio-item,
    .checkbox-item {
        display:flex;
        margin: 0.1em;
        margin-bottom: 0em;
        justify-content: flex-start;
    }

    .radio-container input,
    .checkbox-container input {
        min-width: 20%;
    }

}

