<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/footer.css">
  </head>

  <body>
    <header></header>

    <main><p> Main Page </p></main>

    <footer>{% include 'footer.html' %}</footer>
  </body>
</html>
