<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="grid-container">
    <section class="grid-item-header">
        <div class="card">
            <nav class="navbar">
                <img id="logo" src="{{ url_for('static', filename='media/logos/Logo_ultra-wide.jpg') }}"></img>
                <ul>
                    {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a>
                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </section>
    <section class="grid-item-content">
        <div class="card">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </section>
    <section class="grid-item-tree">
        <div class="card">
            <h1>Tree</h1>
        </div>
    </section>
    <section class="grid-item-footer">
        <div class="card">
            <h1>Footer</h1>
        </div>
    </section>
</div>