{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-section">
        <div class="form-item">
            <label for="username">Username</label>
            <input name="username" id="username" required>
        </div>
        <div class="form-item">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-item" style="display:flex; justify-content:center; flex-direction: row;">
            <a href="{{ url_for('auth.register') }}">
                <input class="button" type="button" value="Register">
            </a>
            <input class="button" type="submit" value="Log In">
        </div>
    </div>
</form>
{% endblock %}